:root{
    --branco-item-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-item-principal); 
}

*{
    margin: 0;
    padding: 0;
}

.container__principal{
    width: 100vw;
    height: 100vh;
}

.container__img__principal{
    display: flex;
    justify-content: right;
    height: 100%;
}

.container__img__principal img{
    height: 100vw;

}